
  /*INICIO NAVIGATOR*/
  .mainNav {
    z-index: 1000;
    width: 100%;
    top: 0;
    position: fixed;
  }
  /*Menu Desktop*/
  .menuDesktopContainer {
    width: 100%;
    height: 70px;
    background-color: black;
    padding-bottom: 10px;
    padding-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .menuDesktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 90%;
    -ms-flex-pack: distribute;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    
  }
  
  .menuDesktop li {
    list-style: none;
  }
  
  .menuDesktop li .logoNav {
    height: 50px;
    width: 150px;
  }
  
  .menuDesktop li a {
    text-decoration: none;
    color: white;
    -webkit-transition: -webkit-text-decoration 0.3s ease;
    transition: -webkit-text-decoration 0.3s ease;
    -o-transition: text-decoration 0.3s ease;
    transition: text-decoration 0.3s ease;
    transition: text-decoration 0.3s ease, -webkit-text-decoration 0.3s ease;
  }
  
  .menuDesktop li a:hover {
    text-decoration: underline;
  }
  
  /*Menu Phone*/
  .menuPhoneContainer,
  .menuPhoneContainer *,
  .menuPhoneContainer *::before,
  .menuPhoneContainer *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .menuPhoneContainer {
    width: 100%;
    background-color: black;
    display: none;
    flex-direction: row;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .menuPhoneContainer .logoNav {
    height: 70px;
    width: 210px;
  }
  
  .hamburger {
    position: relative;
    width: 70px;
    height: 70px;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    padding: 20px;
  }
  
  .hamburger:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 20px;
    background: #f953c6; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(#7a7a7a),
      to(#ffdbdb)
    );
    background: -o-linear-gradient(left, #7a7a7a, #ffdbdb);
    background: linear-gradient(
      to right,
      #7a7a7a,
      #ffdbdb
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-transition: all 0.4s cubic-bezier(0.54, -0.1, 0.57, 0.57);
    -o-transition: all 0.4s cubic-bezier(0.54, -0.1, 0.57, 0.57);
    transition: all 0.4s cubic-bezier(0.54, -0.1, 0.57, 0.57);
  }
  
  .hamburger-input {
    position: absolute;
    opacity: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    cursor: pointer;
  }
  
  .hamburger-line {
    width: 100%;
    background: black;
    height: 2px;
    display: block;
    border-radius: 6px;
    -webkit-transition: -webkit-transform 0.4s
      cubic-bezier(0.54, -0.81, 0.57, 0.57);
    -o-transition: transform 0.4s cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transition: transform 0.4s cubic-bezier(0.54, -0.81, 0.57, 0.57);
    position: relative;
  }
  
  .hamburger-line.first,
  .hamburger-line.third {
    width: 50%;
  }
  
  .hamburger-line.third {
    margin-left: 50%;
    -webkit-transform-origin: left;
    -ms-transform-origin: left;
    transform-origin: left;
  }
  
  .menu-button-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  
  .menu-button-wrapper .item-list {
    position: absolute;
    top: 91px;
    transform: translateX(-50%) scale(0);
    transform-origin: center;
    transition: all 0.4s cubic-bezier(0.54, -0.1, 0.57, 0.57);
    background-color: black;
    color: #fff;
    width: 200px;
    right: -60;
    padding: 15px 0;
    text-align: left;
    border-radius: 100px;
    font-weight: 300;
    opacity: 0;
    user-select: none;
    border: 1px solid #fff;
  }
  
  .menu-button-wrapper .item-list div {
    padding: 10px 30px;
  }
  
  .menu-button-wrapper .item-list div a {
    text-align: left;
    text-decoration: none;
    padding-right: 80px;
    cursor: pointer;
    width: 100%;
    color: #fff;
    font-weight: 300;
  }
  
  .menu-button-wrapper .menu-button {
    position: absolute;
    width: 70px;
    height: 70px;
    right: 0;
    align-self: flex-end;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
    margin-right: 20px;
  }
  
  .menu-button-wrapper .icon-wrapper {
    position: absolute;
    width: 70px;
    height: 70px;
    right: 0;
    align-self: flex-end;
    z-index: 1;
    opacity: 1;
    cursor: pointer;
    margin-right: 20px;
  }
  
  .menu-button:checked ~ .item-list {
    transform: translateX(-50%) scale(1);
    border-radius: 20px;
    opacity: 1;
    user-select: auto;
  }
  
  .menu-button:checked ~ .icon-wrapper .hamburger-line.second {
    transform: rotate(-45deg);
  }
  
  .menu-button:checked ~ .icon-wrapper .hamburger-line.first {
    transform: translate(2px, 8px) rotate(-135deg);
  }
  
  .menu-button:checked ~ .icon-wrapper .hamburger-line.third {
    transform: translate(11px, -3px) rotate(-135deg);
  }
  
  .menu-button:checked ~ .icon-wrapper .hamburger:before {
    transform: rotate(45deg);
  }
  
  /****/
  .signature-wrapper {
    margin-top: 150px;
    margin-bottom: 100px;
    text-align: center;
  }
  .signature-wrapper .signature-title {
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: normal;
    color: #444;
  }
  
  .signature-wrapper .signature-link {
    color: #444;
    display: inline-block;
    margin: 20px 0 10px;
    font-size: 13px;
    letter-spacing: 0.5px;
    text-decoration: none;
    border-bottom: solid 2px #444;
  }
  
  /*****/
  @media only screen and (max-width: 861px) {
    .menuDesktop {
      width: 90%;
    }
  }
  
  @media only screen and (max-width: 900px) {
    .menuDesktopContainer {
      display: none;
    }
    .menuPhoneContainer {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }
  }
  
  @media only screen and (max-width: 350px) {
    .menuPhoneContainer .logoNav {
      height: 60px;
      width: 180px;
    }
  }
  
  /*FÍN NAVIGATOR */